<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd">
		
	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll"/>
		<intercept-url pattern="/inicio" access="hasAnyAuthority('CLIENTE', 'ADMIN', 'PROFE')"/>
		
		 
		<form-login login-page="/login"
			authentication-failure-url="/error"
			username-parameter="username"
			password-parameter="password"/>
		<csrf disabled="true"/>
		<logout logout-success-url="/login"/>
	</http>
	
<!-- <authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt"/>
			<user-service>
				<user name="brian" password="$2a$10$T8Ai527fqCuYQRRlOXRqb.L5.Xskt0YjtpMuB1Xu767K2wy1RRw62" 
					authorities="USER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
	 -->	
	 
	 <authentication-manager>
	 	<authentication-provider>
	 		<password-encoder hash="bcrypt"/>
	 		<jdbc-user-service data-source-ref="ds"
	 			users-by-username-query="select username, password, 1 as enabled from users where username = ?"
	 			authorities-by-username-query="select username, rol as authority from users where username = ?"
	 		/>
	 	</authentication-provider>
	 </authentication-manager>
		
</bean:beans>